html
{
	height: 100%;
	width: 100%
}
body
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://iphonesoft.fr/images/_082019/fond-ecran-dynamique-macos-wallpaper-club.jpg);
	background-position: center;
	background-size:cover;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	opacity: 100%;
}

.texte
{
	/*top:50%;
	left:50%;*/
	/*position: absolute;*/
	/*transform: translate(-50%,-50%);*/
	color: white;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
}

h1
{
	font-size: 60px;
	letter-spacing: 15px;
}

hr

{
	border: solid 2px white;
	width: 50%;
	/*margin:auto;*/
}

p

{
	font-size: 20px;
	/*margin-bottom: 30px;*/
}

.bouton
{	
	width: 100px;
	background-color: orange;
	border:none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	/*margin: 8px 2px;*/
	border-radius: 0.5rem;
	flex-direction: column;
}
.logo
{
	height: 20%;
	width: 10%;
	border-radius: 50%;
	/*filter: grayscale(90%);*/
	border:solid 2px white;
	
}

.logo2
{
	height: 20%;
	width: 10%;
	border-radius: 50%;
	/*border:solid 2px white;*/
	

}
.contact
{
	display: flex;
	justify-content: space-between;
	/*flex-direction: row;*/
	font-family: 'Dancing Script', cursive;
	font-size: 150%;
	margin-left: 30%;
	/*margin-top: 2%;*/
	color: white;

}
.titre-footer
{
	font-family: 'DM Sans', sans-serif;
	text-align: center;
	color: white;

}
.footer1
{
	
}