*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://iphonesoft.fr/images/_082019/fond-ecran-dynamique-macos-wallpaper-club.jpg);
	background-position: center;
	background-size:cover;
	height: 100vh;
}

.texte
{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
}

h1
{
	font-size: 60px;
	letter-spacing: 15px;
}

hr

{
	width: 50%;
	margin: 30px auto;
	border:1.5px solid white;
}

p

{
	font-size: 20px;
	margin-bottom: 30px;
}

.bouton
{	
	width: 100px;
	background-color: orange;
	border:none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 8px 2px;
	border-radius: 0.5rem;
	flex-direction: column;
}